#mainimg{
	width: 25rem;

}
#about h6{
	font-size: 50px;
}
#about span{
  color:#0275d8;
  font-weight:bold ;
}
#second{
	width: 20rem;
	height: 18rem;
}
#about{ 
  min-height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}